
html {
    height: 100%;
    max-height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    max-height: 100%;
    background-color: #fbf8f5;
    color: #3A4145;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin-top: 0;
    font-family: 'Open Sans',sans-serif;
}

h1 {
    font-size: 5rem;
    line-height: 1.2em;
    letter-spacing: -2px;
    text-indent: -3px;
}

a {
    img {
        border: 0;
    }
}

img {
    vertical-align: baseline;
    display: inline-block;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
    border: 0;
}

img,
object,
embed {
    max-width: 100%;
    height: auto;
}

p {
    font-family: inherit;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.42857em;
    text-rendering: optimizeLegibility;
}
