@font-face {
    font-family: 'Droid Serif';
    font-style: normal;
    font-weight: 400;
    src: local('Droid Serif'), local('DroidSerif'), url(../fonts/droidserif.woff) format('woff');
    font-family: 'Droid Serif';
    font-style: normal;
    font-weight: 700;
    src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(../fonts/droidserif-Bold.woff) format('woff');
    font-family: 'Droid Serif';
    font-style: italic;
    font-weight: 400;
    src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url(../fonts/droidserif-Italic.woff) format('woff');
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/opensans.woff) format('woff');
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/opensans-Bold.woff) format('woff');
}
