.site-footer {
    position:                       relative;
    display:                        table;
    width:                          100%;
    text-align:                     center;
    padding-top:                    0.5em;
    background-color:               #ffffff;
    border-top:                     3px solid #dddddd;
    padding-bottom:                 5px;

    .copyright, .poweredby {
        font-size: 0.8em;
    }

}



/* The author credit area after the post */
.post-footer {
    position: relative;
    margin: 4rem 0 0 0;
    padding: 2rem 0 0 0;
    border-top: #ccc 1px solid;
}

.post-footer h4 {
    font-size: 1.8rem;
    font-weight: 800;
    margin: 0;
}

.post-footer p {
    margin: 1rem 0;
    font-size: 1.4rem;
    line-height: 1.6em;
}

/* Create some space to the right for the share links */
.post-footer .author {
    margin-right:       180px;
    h4, p {
        padding-left:   25px;
    }
    p {
        white-space:    pre;
        font-size:      0.7em;
    }
}

/* Drop the share links in the space to the right.
   Doing it like this means it's easier for the author bio
   to be flexible at smaller screen sizes while the share
   links remain at a fixed width the whole time */
.post-footer .share {
    position:   absolute;
    top:        2rem;
    right:      0;
    width:      140px;
    margin-right: 25px;
}

.post-footer .share a {
    font-size: 1.8rem;
    display: inline-block;
    margin: 1.4rem 1.6rem 1.6rem 0;
    color: #BBC7CC;
}

.post-footer .share a:hover {
    color: #50585D;
}

.poweredby .icon-ghost {
    font-weight: 700;
    text-decoration: none;
}

.poweredby .icon-ghost:hover {
    text-decoration: none;
}

.poweredby .icon-ghost:before {
    font-size: 1rem;
    margin-right: 0.2em;
}

@media only screen and (max-width: 500px) {

  .post-footer {
    padding: 4rem 0;
    text-align: center;
  }


  .post-footer .author {
    h4, p {
        padding-left: 0;
    }
    margin: 0 0 2rem 0;
    padding: 0 0 1.6rem 0;
    border-bottom: #ccc 1px solid;
  }


  .post-footer .share {
    position:       static;
    width:          auto;
    margin-right:   0;
  }


  .post-footer .share a {
    margin: 1.4rem 0.8rem 0 0.8rem;
  }
}
