//
// Nyx Less
// --------


@base-colour:   #ecf0f1;
@tags-base:     #eeeeee;
@tags-text:     #6C767D;


// Core classes
@import "core.less";

// Font classes
@import "fonts.less";

// Blog classes
@import "blog.less";

// Post classes
@import "post.less";

// Misc classes
@import "footer.less";

// Misc classes
@import "misc.less";
