//
// Nyx Less
// --------


@base-colour: 	#F2F7F3;
@tags-base: 	#EAF8E5;
@tags-text: 	#97A393;



// Core classes
@import "core.less";

// Font classes
@import "fonts.less";

// Blog classes
@import "blog.less";

// Post classes
@import "post.less";

// Misc classes
@import "misc.less";
