
.post.panel section.image {
    img, .img {
        background-repeat:          no-repeat;

        background-position:        center top;

        background-size:            cover;
        width:                      100%;
        max-width:                  100%;
    }
}

.post.panel section.image {
    img.multi, .img.multi {
        position:                   relative;
        filter:                     alpha(Opacity=80);
        opacity:                    .8;
    }
}
.post.panel {
    padding:                        0;
    overflow:                       hidden;
    position:                       relative;
    section.image:hover {
        -webkit-transition:         opacity .2s ease;
        -moz-transition:            opacity .2s ease;
        -o-transition:              opacity .2s ease;
        transition:                 opacity .2s ease;
        filter:                     alpha(Opacity=80);
        opacity:                    .8;
    }
    section.text {
        h6.byline {
            font-size:              .7em;
            color:                  #c1beba;
        }
        h4.title {
            color:                  #625f5d;
            font-weight:            800;
            line-height:            30px;
            position:               relative;
            margin-top:             -8px;
            margin-bottom:          5px;
            a {
                -webkit-transition: color .2s ease;
                -moz-transition:    color .2s ease;
                -o-transition:      color .2s ease;
                transition:         color .2s ease;
                color:              #625f5d;
            }
        }
        p {
            font-size:              1em;
            margin-bottom:          0px;
        }
    }
    section.tags {
        padding:                    5px 10px 5px;
        background-color:           @tags-base;
        position:                   absolute;
        bottom:                     0;
        left:                       0;
        right:                      0;
        border-top-style:           solid;
        border-width:               1px;
        border-color:               #C0C0C0;
        p {
            padding-left:           5px;
            color:                  @tags-text;
            font-size:              0.8em;
            margin:                 0px;
        }
    }
}


.post-title {
    margin:                         0;
    font-size:                      1.8rem;
    line-height:                    1.5em;
    font-weight:                    300;
    letter-spacing:                 0;
}
.post-head {
    position:                       relative;
    display:                        table;
    width:                          100%;
    text-align:                     center;
    padding-top:                    0.5em;
    background-color:               #ffffff;
    border-bottom:                  3px solid #dddddd;
}
.post-meta {
    font-size:                      13px;
    color:                          #8F9497;
    padding-left:                   10px;
    font-weight:                    bold;
    .glyphicon {
        padding-right:              2px;
    }
}
.post {
    section.text {
        padding:                    25px;
    }
    section.image {
        height:                     260px;
        background:                 #FFF;
        overflow:                   hidden;
        box-shadow:                 0 2px 20px rgba(0,0,0,.05);
        text-align:                 center;
        display:                    none;
    }
    section.single-page {
        img {
            padding:                4px;
            display:                inline-block;
            height:                 auto;
            max-width:              100%;
            line-height:            1.428571429;
            background-color:       #fff;
            border:                 1px solid #ddd;
            border-radius:          4px;
            -webkit-transition:     all .2s ease-in-out;
            transition:             all .2s ease-in-out;
            margin-bottom:          1.2em;
        }
        p {
            margin:                 0;
            padding-bottom:         1.2em;
        }
        p:last-of-type {
            margin:                 0;
            padding-bottom:         0;
        }
    }
}
.post-content {
    padding-left:                   30px;
    padding-right:                  30px;
    margin-top:                     3.5em;
    margin-bottom:                  3.5em;
    img {
        display:                    block;
        max-width:                  100%;
        margin:                     0 auto;
    }
    .text p {
        min-height:                 0;
    }
}

.post-comments {
    padding-left:                   30px;
    padding-right:                  30px;
    margin-top:                     1.5em;
    margin-bottom:                  3.5em;

    #disqus_thread {
        padding:                    20px;
    }
}
