html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  max-height: 100%;
  background-color: #f2f7f3;
  color: #3A4145;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 5rem;
  line-height: 1.2em;
  letter-spacing: -2px;
  text-indent: -3px;
}
a img {
  border: 0;
}
img {
  vertical-align: baseline;
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  border: 0;
}
img,
object,
embed {
  max-width: 100%;
  height: auto;
}
p,
ul,
ol {
  margin: 1.6em 0;
}
p {
  font-family: inherit;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.42857em;
  text-rendering: optimizeLegibility;
}
blockquote {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 1.6em;
  border-left: #4a4a4a .4em solid;
}
blockquote p {
  margin: .8em 0;
  font-style: italic;
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(../fonts/droidserif.woff) format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(../fonts/droidserif-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url(../fonts/droidserif-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/opensans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/opensans-Bold.woff) format('woff');
}
.blog-logo img {
  display: block;
  max-height: 100px;
  width: auto;
  margin: 0 auto;
  line-height: 0;
}
.blog-logo-post {
  display: block;
  max-height: 50px;
  width: auto;
  margin: 0 auto;
  line-height: 0;
}
.blog-title {
  margin: 10px 0 10px 0;
  font-size: 5rem;
  letter-spacing: -1px;
  font-weight: bold;
}
.blog-description {
  margin: 0;
  font-size: 1.9rem;
  line-height: 1.5em;
  font-weight: 300;
  letter-spacing: 0;
}
.blog-title,
.blog-description {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}
.post.panel section.image img,
.post.panel section.image .img {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.2) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.2) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.2) 100%);
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.2) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.2) 100%);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  width: 100%;
  max-width: 100%;
}
.post.panel section.image img.multi,
.post.panel section.image .img.multi {
  position: relative;
  filter: alpha(opacity=80);
  opacity: .8;
}
.post.panel {
  padding: 0;
  overflow: hidden;
  position: relative;
}
.post.panel section.image:hover {
  -webkit-transition: opacity .2s ease;
  -moz-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
  filter: alpha(opacity=80);
  opacity: .8;
}
.post.panel section.text h6.byline {
  font-size: .7em;
  color: #c1beba;
}
.post.panel section.text h4.title {
  color: #625f5d;
  font-weight: 200;
  line-height: 30px;
  position: relative;
  margin-top: -8px;
  margin-bottom: 5px;
}
.post.panel section.text h4.title a {
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
  color: #625f5d;
}
.post.panel section.text p {
  font-size: 1em;
  margin-bottom: 0px;
}
.post.panel section.tags {
  padding: 10px 10px 5px;
  background-color: #e8fce2;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-style: solid;
  border-width: 1px;
  border-color: #C0C0C0;
}
.post.panel section.tags p {
  padding-left: 5px;
  color: #97a393;
  font-size: 0.8em;
  margin: 0px;
}
.post.panel section.metrics {
  padding: 45px 25px 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(45%, #ffffff), color-stop(100%, #ffffff));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0, #ffffff 55%, #ffffff 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, #ffffff 55%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0, #ffffff 55%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0, #ffffff 55%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #ffffff 55%, #ffffff 100%);
}
.post-title {
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.5em;
  font-weight: 300;
  letter-spacing: 0;
}
.post-head {
  background-color: #F1EFED;
  position: relative;
  display: table;
  width: 100%;
  text-align: center;
  padding-top: 0.5em;
}
.post-meta {
  font-size: 13px;
  color: #BEB4AA;
  padding-left: 10px;
  font-weight: bold;
}
.post-meta .glyphicon {
  padding-right: 2px;
}
.post section.text {
  padding: 25px;
}
.post section.image {
  height: 260px;
  background: #FFF;
  overflow: hidden;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
  text-align: center;
}
.post-content {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}
.post-content img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.post-content .text p {
  min-height: 0;
}
.site-head {
  position: relative;
  display: table;
  width: 100%;
  height: 30%;
  margin-bottom: 5rem;
  text-align: center;
  color: #fff;
  background: #303538 no-repeat center center;
  background-size: cover;
  border-bottom: solid 1px #aaaaaa;
}
#back {
  color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 8px;
  left: 8px;
  padding: 6px;
  font-size: 16px;
}
.img-rounded {
  border-radius: 50%;
}
.inner {
  position: relative;
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}
.vertical {
  display: table-cell;
  vertical-align: middle;
}
.panel {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #C0C0C0;
  margin-bottom: 2.14286em;
  padding: 1.42857em;
  background: #fff;
}
.panel h1,
.panel h2,
.panel h3,
.panel h4,
.panel h5,
.panel h6,
.panel p {
  color: #666;
}
.single.post {
  background-color: #BBB9B7;
}
